@import '../variables';

.card {
    height: 200px;
    width: 200px;
    margin: 10px;
    position: relative;
    border-radius: 3px;

    &:before {
        content: "";
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        top: -10px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        background-image: url("../assets/magnet.svg");
        background-size: cover;
    }
}

.card:nth-child(5n + 1) {
    background: $perfume;
}
.card:nth-child(5n + 2) {
    background: $cupid;
}
.card:nth-child(5n + 3) {
    background: $gossip;
}
.card:nth-child(5n + 4) {
    background: $foam;
}
.card:nth-child(5n + 5) {
    background: $milan;
}

.view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.card-message, .card-editor {
    padding: 10px;
    height: 170px;
    box-sizing: border-box;
}

.card-message {
    overflow: auto;
}

.card-editor {
    resize: none;
    background-color: inherit;
    border: 2px solid inherit;
}

.options {
    height: 30px;
    display: flex;
    flex-flow: row-reverse;
    align-items: center;
}
