$flint: #655f57 !default;
$perfume: #D9BCF5 !default;
$cupid: #FCC0D0 !default;
$gossip: #C4F791 !default;
$foam: #ABE3F8 !default;
$milan: #F5FA8E !default;

$small-tablet: "(min-width: 480px)";
$tablet: "(min-width: 768px)";
$desktop: "(min-width: 992px)";
$large-desktop: "(min-width: 1200px)";
